<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <h2>About me</h3>
            <div class="software-skills">
                <h3 class="section-heading">Software Skills</h3>
                <hr class="light">
                <ul>
                    <li>
                        Software languages: Python, Node.JS, Javascript, PHP, HTML/CSS, C/C++, Java, Swift, and related frameworks
                    </li>
                    <li>
                        System Admin: Linux, OS X, Windows, AWS 
                    </li>
                    <li>
                        VCS: Git, Github, SVN
                    </li>
                    <li>
                        Databases: MySQL, SQLite, MongoDB, Redis, InfluxDB
                    </li>
                    <li>
                        Embedded hardware/software design (e.g. Arduino, Raspberry-Pi, Artik etc.)
                    </li>
                    <li>
                        REST, MQTT, Websocket, JSON, TLS, pub/sub etc.
                    </li>
                    <li>
                        CI: Jenkins
                    </li>
                    <li>
                        AWS Certified Solutions Architect - Associate
                    </li>
                </ul>    
            </div>
        </div>

        <div class="row">
            <div class="hardware-skills">
                <h3 class="section-heading">Hardware Skills</h3>
                <hr class="light">
                <ul dir="rtl">
                    <li>
                        Microcontrollers
                    </li>
                    <li>
                        Circuit, PCB design
                    </li>
                    <li>
                        Lab equipments such as oscilloscope, multimeter, soldering kits
                    </li>
                    <li>
                        Labview
                    </li>
                    <li>
                        Embedded system
                    </li>
                    <li>
                        3D printing
                    </li>
                    <li>
                        AutoCAD, SolidWorks
                    </li>
                    <li>
                        VHDL
                    </li>
                </ul>    
            </div>
        </div>
        <div class="row">
            <div class="education">
                <h3 class="section-heading">Education</h3>
                <hr class="light">
                <ul>
                    <li>
                        University of British Columbia
                    </li>
                    <li>
                        B.A.Sc, Electrical Engineering with Minor in Commerce, 2016
                    </li>
                    <li>
                        Dean’s Honor List Standing
                    </li>
                </ul>    
            </div>
        </div>
        <div class="row">
            <div class="certification">
                <h3 class="section-heading">Certification</h3>
                <hr class="light">
                <ul dir="rtl">
                    <li>
                        Engineering in Training, offered by APEGBC
                    </li>
                    <li>
                        AWS Certified Solutions Architect - Associate
                    </li>
                </ul>    
            </div>
        </div>

        <div class="row">
            <div class="hobby">
                <h3 class="section-heading">Hobbies</h3>
                <hr class="light">
                <ul>
                    <li>
                        Musical Instruments (bass and guitar)
                    </li>
                    <li>
                        Sci-Fis books and movies
                    </li>
                    <li>
                        Jogging, kickboxing, and swimming
                    </li>
                    <li>
                        Photography
                    </li>
                </ul>    
            </div>
        </div>
    </div>
</section>
