<section id="experience">
<div class="container">
	<div class="row">
		<div>
			<h2>Experience</h4>
			<ul class="col-lg-9 timeline">
				<li>
                    <span class='timeline-header'>Fortinet Inc.</span><br>
                    <span class='timeline-left-header'>Software Developer Engineer</span>
                    <span class='timeline-right-header'>March 2017 – Present</span><br>
                    <ul class='timeline-list'>
                        <li>
                            Developed new public facing customer portal for cybersecurity data exchange between clients and analysts.
                        </li>
                        <li>
                            Developed new internal research tools for analysts to perform threat investigation in over 18 measurements.
                        </li>
                        <li>
                            Adopted better software development methods into the previous system for efficient project management.
                        </li>
                    </ul>
				</li>
				<li>
                    <span class='timeline-header'>Sense Tecnic Inc.</span><br>
                    <span class='timeline-left-header'>Full Stack Software Developer</span>
                    <span class='timeline-right-header'>July 2016 – November 2017</span><br>
                    <ul class='timeline-list'>
                        <li>
                            Contributed to the Cloud IoT virtual management platform based on Node-RED (8K active users).
                        </li>
                        <li>
                            Developed and contributed open-source interfaces modules for third-party products (5.5K total downloads).
                        </li>
                        <li>
                            Built and maintained test suites for software projects to ensure test coverage (from 20% to 90% +).
                        </li>
                        <li>
                            Administrated AWS Cloud servers and resources (EC2, RDS, S3, VPC, DynamoDB, IoT, EBS etc.).
                        </li>
                        <li>
                            Published 15 articles with practical use cases on company products and had attracted significant views
                        </li>
                        <li>
                            Provided rapid response technical support and consulting services for customers.
                        </li>
                    </ul>
                </li>
                <li>
                    <span class='timeline-header'>DST Subserveo Inc.</span><br>
                    <span class='timeline-left-header'>Co-op System Admin</span>
                    <span class='timeline-right-header'>May 2015 – August 2015</span><br>
                    <ul class='timeline-list'>
                        <li>
                            Improved the coverage and performance of the current server monitoring system by 50%.
                        </li>
                        <li>
                            Administrated and maintained server configuration in hardware and software.
                        </li>
                        <li>
                            Configured, tested and installed firewall hardware units in multiple data centers.
                        </li>
                    </ul>
                </li>
				<li>
                    <span class='timeline-header'>Environment Canada</span><br>
                    <span class='timeline-left-header'>Co-op IT Support</span>
                    <span class='timeline-right-header'>September 2014 – April 2015</span><br>
                    <ul class='timeline-list'>
                        <li>
                            Co-operated with 5 remote departments closely in providing technical solutions for various projects.
                        </li>
                        <li>
                            Maintained quality network transmission from over 100 remote monitoring stations in the west coast region.
                        </li>
                        <li>
                            Ensured successful delivery to the Canadian national data servers via cellular network, dial and satellite.
                        </li>
                    </ul>
				</li>
			</ul>
		</div>
	</div>
</div>
</section>