<section class='bg-primary' id="projects">
    <div class="container">
        <div class="row">
            <div>
                <h2 class='right-data'>Projects</h4>
                <ul class="project-timeline col-lg-9">
                    <li>
                        <span class='timeline-header'>Central Threat System</span><br>
                        <span class='timeline-right-header'>Mar 2018 – Present</span><br>
                        <ul class='timeline-list'>
                            <li>
                                Developed a new platform to provide integrated threat hunting tools (received over 95% positive feedback)
                            </li>
                            <li>
                                Developed internal tool suites to automate manual investigation and deployment performed by human, save at least 50% time required, and reduced error rate significantly
                            </li>
                            <li>
                                Optimized multi stacks to reduce response time by over 90% compare to the previous system.
                            </li>
                            <li>
                                Continuously integrate with other Fortinet products to expand features and user bases.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class='timeline-header'>Open-source Node-RED node project for OSIsoft Web API</span><br>
                        <span class='timeline-right-header'>September 2017 – October 2017</span><br>
                        <ul class='timeline-list'>
                            <li>
                                    Developed an accessible module that interfaces to OSIsoft Web API servers.
                            </li>
                            <li>
                                    Simplified the complicated and confusing setup steps to allow users start using the node features in no time.
                            </li>
                            <li>
                                    Improved the user experience by reducing the setup time and effort required to develop an application by 70%.
                            </li>
                            <li>
                                    NPM link: <a target="_blank" href="https://www.npmjs.com/package/node-red-contrib-osisoft-web-api">https://www.npmjs.com/package/node-red-contrib-osisoft-web-api</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class='timeline-header'>Open-source Node-RED module for GE Predix Timeseries</span><br>
                        <span class='timeline-right-header'>October 2016 – November 2016</span><br>
                        <ul class='timeline-list'>
                            <li>
                                Developed an accessible module that interfaces to GE Predix Timeseries via REST and WS (1K downloads).
                            </li>
                            <li>
                                Simplified the complicated and confusing setup steps to provide a clear and organized guide for users.
                            </li>
                            <li>
                                Improved the user experience by reducing the setup time and effort required for Predix Timeseries by 80%.
                            </li>
                            <li>
                                    NPM link: <a target="_blank" href="https://www.npmjs.com/package/node-red-contrib-predix-timeseries">https://www.npmjs.com/package/node-red-contrib-predix-timeseries</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class='timeline-header'>Open-source Node-RED module for Samsung Artik IoT kits</span><br>
                        <span class='timeline-right-header'>September 2016 – October 2016</span><br>
                        <ul class='timeline-list'>
                            <li>
                                Developed an interactive module that controls the GPIO pins on Samsung Artik kits (2.5K downloads).
                            </li>
                            <li>
                                Designed user-friendly and practical features that expand the functionalities of 4 models via cloud control.
                            </li>
                            <li>
                                Used as sample in the official Samsung Artik developer document
                            </li>
                            <li>
                                    NPM link: <a target="_blank" href="https://www.npmjs.com/package/node-red-contrib-artik">https://www.npmjs.com/package/node-red-contrib-artik</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class='timeline-header'>IoT Multi-Devices Authentication on iOS</span><br>
                        <span class='timeline-right-header'>September 2015 – April 2016</span><br>
                        <ul class='timeline-list'>
                            <li>
                                    Developed a multi factor IoT authentication system allowing users to authenticate without password.
                            </li>
                            <li>
                                    Designed iOS and WatchOS applications that handle transactions between devices and cloud servers.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>