<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">Michael Qiu</a>
    </div>

    <menu class="sidebar-menu">
      <!-- <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About Me</a></li> -->
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/skills/">Skills</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/experience/">Experience</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/projects/">Projects</a></li>
      
    </menu>

    <div class="sidebar-social">
      <li class="social-items"><a href="https://www.linkedin.com/in/michael-jing-ming-qiu-90b6b351" class="social-links"><i class="social-icons fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://github.com/{{site.github_username}}" class="social-links"><i class="social-icons fa fa-github" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="mailto:michael.qiu.jm@gmail.com?Subject=Hello%20Michael" class="social-links"><i class="social-icons fa fa-envelope" aria-hidden="true"></i></a></li>
    </div>

  </div>
</aside>
